# `Setup`

In [1]:
# Library Import
import pandas as pd
import numpy as np
import os
if os.getcwd().split('/')[-1] != 'aml_itu': os.chdir(os.path.abspath('.').split('aml_itu/')[0]+'aml_itu')
from utils.helpers import * # Import all helper functions
from utils.StatefarmPytorchDataset import StateFarmDataset # Import Pytorch dataset class

# Printing current working directory
print(os.getcwd())

/Users/rasmuskrebs/Documents/School/semester_3/advanced_ml/aml_itu

In [7]:
data = StateFarmDataset(config)

In [31]:
len(data.metadata) *.2

4484.8

In [23]:
subject_count = data.metadata.groupby('subject').agg(count=('img','count')).reset_index().sort_values(by='count', ascending=False)

In [34]:
subjects = subject_count[(subject_count['count'] > 800) & (subject_count['count'] < 1000)].head().subject.to_list()

In [41]:
subjects

['p051', 'p014', 'p015', 'p035', 'p047']

In [42]:
pd.read_csv(config['dataset']['data']).where(   )

      subject classname            img
0        p002        c0  img_44733.jpg
1        p002        c0  img_72999.jpg
2        p002        c0  img_25094.jpg
3        p002        c0  img_69092.jpg
4        p002        c0  img_92629.jpg
...       ...       ...            ...
22419    p081        c9  img_56936.jpg
22420    p081        c9  img_46218.jpg
22421    p081        c9  img_25946.jpg
22422    p081        c9  img_67850.jpg
22423    p081        c9   img_9684.jpg

[22424 rows x 3 columns]

In [38]:
data.metadata[data.metadata.subject.isin(subjects)].target.value_counts(True)

safe driving                    0.122876
drinking                        0.107947
operating the radio             0.106109
talking on the phone - left     0.104731
texting - left                  0.103813
texting - right                 0.101286
talking on the phone - right    0.100597
reaching behind                 0.093477
talking to passenger            0.084750
hair and makeup                 0.074414
Name: target, dtype: float64

In [39]:
data.metadata[-data.metadata.subject.isin(subjects)].target.value_counts(True)

safe driving                    0.108135
texting - left                  0.104815
talking on the phone - right    0.103985
talking on the phone - left     0.103486
drinking                        0.102656
operating the radio             0.102380
texting - right                 0.101051
talking to passenger            0.097399
reaching behind                 0.088268
hair and makeup                 0.087825
Name: target, dtype: float64

### `Config`

In [2]:
# Loading the config file
config = load_config()
    
    
# Training Images
train_img = config['dataset']['images']['train']

# Outputting config    
config

{'dataset': {'name': 'state-farm-distracted-driver-detection',
  'data': '../state-farm-distracted-driver-detection/driver_imgs_list.csv',
  'images': {'train': '../state-farm-distracted-driver-detection/imgs/train',
   'test': '../state-farm-distracted-driver-detection/imgs/test'},
  'class_mapping': {'c0': 'safe driving',
   'c1': 'texting - right',
   'c2': 'talking on the phone - right',
   'c3': 'texting - left',
   'c4': 'talking on the phone - left',
   'c5': 'operating the radio',
   'c6': 'drinking',
   'c7': 'reaching behind',
   'c8': 'hair and makeup',
   'c9': 'talking to passenger'}},
 'outputs': {'path': './outputs'},
 'modelling': {'batch_size': 32, 'epochs': 100}}

In [5]:
epoch = config['modelling']['epochs']

100

In [4]:
# Loading the data
df = pd.read_csv(config['dataset']['data'])

In [5]:
config['dataset']['class_mapping']

{'c0': 'safe driving',
 'c1': 'texting - right',
 'c2': 'talking on the phone - right',
 'c3': 'texting - left',
 'c4': 'talking on the phone - left',
 'c5': 'operating the radio',
 'c6': 'drinking',
 'c7': 'reaching behind',
 'c8': 'hair and makeup',
 'c9': 'talking to passenger'}

In [6]:
df['target'] = df['classname'].map(config['dataset']['class_mapping'])

## `Main`